<h1>Listing incident_assignments</h1>

<table>
  <thead>
    <tr>
      <th>Incident</th>
      <th>Location</th>
      <th>Asset role</th>
      <th>Asset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_assignments.each do |incident_assignment| %>
      <tr>
        <td><%= incident_assignment.incident_id %></td>
        <td><%= incident_assignment.location_id %></td>
        <td><%= incident_assignment.asset_role_id %></td>
        <td><%= incident_assignment.asset_id %></td>
        <td><%= link_to 'Show', incident_assignment %></td>
        <td><%= link_to 'Edit', edit_incident_assignment_path(incident_assignment) %></td>
        <td><%= link_to 'Destroy', incident_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident assignment', new_incident_assignment_path %>
