<%= form_for [@incident,@task] do |f| %>

    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field task_fields">
    <%= f.label :primar_search %><br>
    <%= f.check_box :primar_search %>
    <%
      formatted_time = @incident.created_at.strftime('%H:%M:%S');
      formatted_date = @incident.created_at.strftime('%Y-%m-%d');
    %>

    <% unless @task.primar_search == true %>
    <div id="primary_search" data-date=<%= formatted_date %>&#32;<%= formatted_time %> class="timer_task" ></div><br>
    <% end %>

  </div>
  <div class="field task_fields">
    <%= f.label :all_clear %><br>
    <%= f.check_box :all_clear %>
  </div>

  <div class="field task_fields">
    <%= f.label :utilities_contacted %><br>
    <%= f.check_box :utilities_contacted %>

  </div>
  <div class="field task_fields">
    <%= f.label :safety_officer_arrived %><br>
    <%= f.check_box :safety_officer_arrived %>
  </div>

  <div class="field task_fields">
    <%= f.label :utilities_disconnected %><br>
    <%= f.check_box :utilities_disconnected %>
  </div>

  <div class="field task_fields">
    <%= f.label :secondary_search %><br>
    <%= f.check_box :secondary_search %>
    <%
      timer = Timer.where(:incident_id => @incident.id)
      if !timer.blank?
        formatted_time2 = timer[0].created_at.strftime('%H:%M:%S');
        formatted_date2 = timer[0].created_at.strftime('%Y-%m-%d');
      end
    %>


    <% if @task.secondary_search == false and @task.primar_search == true  %>
        <div id="secondary_search" data-date=<%= formatted_date2 %>&#32;<%= formatted_time2 %> class="timer_task" ></div><br>
    <% end %>

  </div>
  <div class="field task_fields">
    <%= f.label :fire_under_control %><br>
    <%= f.check_box :fire_under_control %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
 $(document).ready(function(){

  var myArray2 = ["task_primar_search", "task_all_clear", "task_utilities_contacted", "task_safety_officer_arrived", "task_utilities_disconnected", "task_secondary_search","task_fire_under_control" ];

    for(var i=0; i<myArray2.length; i++){

      if($("#"+myArray2[i]).prop('checked')){
        $("#"+myArray2[i]).next().css('display','none');
      }
    }

  for(var i=0; i<myArray2.length; i++){

    $("#"+myArray2[i]).click(function(){
      if($(this).prop('checked')){
        $(this).next().css('display','none');
      }else{
        $(this).next().css('display','block');
      }

    });

  }

 });

</script>
