<%= form_for [@incident,@task] do |f| %>

    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :primar_search %><br>
    <%= f.check_box :primar_search %>
  </div>
  <div class="field">
    <%= f.label :all_clear %><br>
    <%= f.check_box :all_clear %>
  </div>
  <div class="field">
    <%= f.label :utilities_contacted %><br>
    <%= f.check_box :utilities_contacted %>
  </div>
  <div class="field">
    <%= f.label :safety_officer_arrived %><br>
    <%= f.check_box :safety_officer_arrived %>
  </div>
  <div class="field">
    <%= f.label :utilities_disconnected %><br>
    <%= f.check_box :utilities_disconnected %>
  </div>
  <div class="field">
    <%= f.label :secondary_search %><br>
    <%= f.check_box :secondary_search %>
  </div>
  <div class="field">
    <%= f.label :fire_under_control %><br>
    <%= f.check_box :fire_under_control %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
