<div class="row">
<div class="col-sm-6"><h1>Editing Task</h1></div>
<%
	formatted_time = @incident.created_at.strftime('%H:%M:%S');
	formatted_date = @incident.created_at.strftime('%Y-%m-%d');
 %>
<div class="col-sm-6">
	<div class="example" style="height:75px; float:right;" data-date=<%= formatted_date %>&#32;<%= formatted_time %>></div>
</div>
</div>




<%= render 'form' %>

<%= link_to 'Show', incident_tasks_path(@incident,@task) %> |
<%= link_to 'Back', root_path %>
