<p id="notice"><%= notice %></p>

<p>
  <strong>Primar search:</strong>
  <%= @task.primar_search %>
</p>

<p>
  <strong>All clear:</strong>
  <%= @task.all_clear %>
</p>

<p>
  <strong>Utilities contacted:</strong>
  <%= @task.utilities_contacted %>
</p>

<p>
  <strong>Safety officer arrived:</strong>
  <%= @task.safety_officer_arrived %>
</p>

<p>
  <strong>Utilities disconnected:</strong>
  <%= @task.utilities_disconnected %>
</p>

<p>
  <strong>Secondary search:</strong>
  <%= @task.secondary_search %>
</p>

<p>
  <strong>Fire under control:</strong>
  <%= @task.fire_under_control %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
