<h1>Listing checkoffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkoffs.each do |checkoff| %>
      <tr>
        <td><%= checkoff.name %></td>
        <td><%= checkoff.checkofftype %></td>
        <td><%= link_to 'Show', checkoff %></td>
        <td><%= link_to 'Edit', edit_checkoff_path(checkoff) %></td>
        <td><%= link_to 'Destroy', checkoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkoff', new_checkoff_path %>
