<%= form_for(@incident, html: {class: 'form-horizontal'}) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-primary">
	<div class="panel-heading">
 		<h3 class="panel-title">Incident</h3>
	</div>
	<div class="panel-body">
		<div class="col-sm-6">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="field form-group">
						<%= f.label :name, "Incident Name", class: 'col-sm-3 control-label' %>
						<div class="col-sm-9">
							<%= f.text_field :name, class: 'form-control' %>
						</div>
					</div>
					<div class="field form-group">
	    				<%= f.label :scene_type_id, "Structure", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
		  					<%= f.select :scene_type_id, options_from_collection_for_select(SceneType.all, :id, :name,:selected => f.object.scene_type_id), {}, {class: "form-control"} %>
						</div>
					</div>
					<div class="field form-group">
	    				<%= f.label :battalion_id, "Battalion", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
		  					<%= f.select :battalion_id, options_from_collection_for_select(Battalion.all, :id, :name), {}, {class: "form-control"} %>
						</div>
					</div>
					<div class="field form-group">
	    				<%= f.label :incident_strategy_id, "Strategy", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
		  					<%= f.select :incident_strategy_id, options_from_collection_for_select(IncidentStrategy.all, :id, :name), {}, {class: "form-control"} %>
						</div>
					</div>
					<div class="field form-group">
						<%= f.fields_for :incident_assignments do |builder| %>
							<%= render 'incident_assignment_fields', :f => builder %>
				    	<% end %>

				    	<%= link_to_add_association 'Add Apparatus', f, :incident_assignments, :class => "btn btn-default form-control" %>
					</div>

						<div class="actions">
	    					<%= f.submit :class=>"btn btn-primary" %>
						</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body ScenesContainer">
					<div class="#">
			    	<%= link_to_add_association 'Add New Exposure', f, :scenes, :class=>"btn btn-default form-control" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$("#incident_battalion_id").change(function(){
			var mySelected = $("#incident_battalion_id option:selected").val();
		$('.ApparatusSelect option[data-battalion]').show(); //shows all of the options
		$('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').hide(); //hide appropriate options based on selected battalion
		// console.log($('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').first());
		// $('.ApparatusSelect option[data-battalion='+mySelected+']').first().attr("selected", true);

		$('.ApparatusSelect').each(function(){
			$(this).children('option[data-battalion='+mySelected+']').first().attr("selected", true);
		});


		});

		 $('.panel-body').on('cocoon:after-insert', function(e, insertedItem) {
    			var mySelected = $("#incident_battalion_id option:selected").val();
    			$('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').hide();
    			// $('.ApparatusSelect option[data-battalion='+mySelected+']').first().attr("selected", true);

    			$('.ApparatusSelect').last().children('option[data-battalion='+mySelected+']').first().attr("selected", true);

  			});

		   $('.ScenesContainer').on('cocoon:after-insert', function(e, insertedItem) {

    			if(insertedItem[2].className == 'apparatus_contain'){
    				var mySelectBox = $('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect');
    				var selectedValue = mySelectBox.children("option:selected").val(); // THIS IS THE BATTALION

    				$('.ScenesContainer').find(".nested-fields").last().find('.SceneApparatusSelect :not(option[data-battalion='+selectedValue+'])').hide();

    				$('.ScenesContainer').find(".nested-fields").last().find('.SceneApparatusSelect option[data-battalion='+selectedValue+']').first().prop("selected", true);

    				$('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect').change(function(){

    					var mySelectBox = $('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect');
    					var selectedValue = mySelectBox.children("option:selected").val(); // THIS IS THE BATTALION

    					$('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect').closest(".newScene").find('.SceneApparatusSelect').children('option[data-battalion]').show();


    					$('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect').closest(".newScene").find('.SceneApparatusSelect').children(':not(option[data-battalion='+selectedValue+'])').hide();

    					$('.ScenesContainer').find(".nested-fields").last().find('.SceneApparatusSelect option[data-battalion='+selectedValue+']').first().prop("selected", true);

    				});
    			}

  			});



	});



</script>
<% end %>
