<div class="#"></div>
<div class="apparatus_contain" style="display:none; visibility:hidden; "></div>
<div class="nested-fields apparatus_contain">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h3 class="panel-title" style="color:#444">Apparatus</h3>
		</div>
		<div class="panel-body">

			<div class="field form-group">
				<%= f.label :asset, "Apparatus", class: 'col-sm-3 control-label' %>
				<div class="col-sm-9">


					<%= f.select :asset_id, options_for_select(Asset.all.map{ |c| [c.name, c.id, {'data-battalion'=>c.battalion_id}] }, :selected => f.object.asset_id),{}, class: "form-control SceneApparatusSelect" %>
				</div>
			</div>

		  <!-- >
		  <div class="field form-group">
		    <%= f.label :arrival_time, "Arrival Time", class: 'col-sm-2 control-label' %>
		    <div class="col-sm-10">
		    	<%= f.datetime_select :arrival_time, :ampm => true, class: "form-control" %>
		    </div>
		  </div>
		-->
		<div class="field form-group">
			<%= f.label :location, "Location", class: 'col-sm-3 control-label'%>
			<div class="col-sm-9">
				<%= f.select :location_id, options_from_collection_for_select(Location.all, :id, :name, :selected => f.object.location_id ), {}, class: "form-control" %>
			</div>
		</div>
		<div class="field form-group">
			<%= f.label :floor, "Floor", class: 'col-sm-3 control-label'%>
			<div class="col-sm-9">
			<%= f.select :floor, options_for_select([['Basement', 'Basement'], ['First Floor', 'First Floor'],['Second Floor', 'Second Floor'],['Third Floor', 'Third Floor'],['Outside', 'Outside']], :selected => f.object.floor ), {},class: "form-control" %>
    		</div>
		</div>
		<div class="field form-group">
			<%= f.label :asset_role, "Role", class: 'col-sm-3 control-label'%>
			<div class="col-sm-9">
				<%= f.select :asset_role_id, options_from_collection_for_select(AssetRole.all, :id, :name, :selected => f.object.asset_role_id), {}, class: "form-control" %>
			</div>
		</div>

		<%= link_to_remove_association('Remove Apparatus', f,:class => 'btn btn-default form-control') %>
	</div>
</div>
</div>
