<div class="#"></div>

<div class="nested-fields">

		<div class="panel panel-default">

			<div class="panel-heading">
 				<h3 class="panel-title" style="color:#444">Exposure - <%= link_to_remove_association('Remove Scene', f) %></h3>
			</div>
<div class="panel-body">

	<div class="field form-group">
	    <%= f.label :name, "Scene Name", class: 'col-sm-2 control-label' %>
	    <div class="col-sm-10">
	    	<%= f.text_field :name, class: 'form-control' %>
	    </div>
	</div>
	
	<!-- add in the exposure location -->
	
	<div class="field form-group">		
	    <%= f.label :scene_type_id, "Structure", class: 'col-sm-2 control-label' %>
	
		<div class="col-sm-10">
	  		<%= f.select :scene_type_id, options_from_collection_for_select(SceneType.all, :id, :name), {}, {class: "form-control"} %>
		</div>
	</div>
	

	    
  		<div class="panel panel-default">
			<div class="panel-heading">
 				<h3 class="panel-title" style="color:#444">Apparatus Assigned to Exposure</h3>
			</div>
			<div class="panel-body">
				<div class="#">
				    <%= f.fields_for :scene_assignments do |builder| %>
						<%= render 'scene_assignment_fields', :f => builder %>
				    <% end %>
	    
	    			<%= link_to_add_association 'Add Apparatus', f, :scene_assignments, :class => "btn btn-default form-control" %>
	    		</div>
	    	</div>
	    </div>

	    
</div>
</div>
</div>
