<%= form_for(@incident, html: {class: 'form-horizontal'}) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if notice %>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <span id="notice"><%= notice %></span>
	  </div>
	</div>
<% end %>
<div class="row">
	<div class="col-lg-3">
		<h3 class="title">Editing <%= @incident.name %></h3>
	</div>

	<div class="col-lg-9">
		<div class="col-sm-4">

		<% logger.debug " This is the endtime #{@incident.end_time.blank?}" %>
			<%
				formatted_time = @incident.created_at.strftime('%H:%M:%S');
				formatted_date = @incident.created_at.strftime('%Y-%m-%d');
			 %>

			 <% if @incident.end_time.blank?  %>
				<div class="example" style="height:50px;" data-date=<%= formatted_date %>&#32;<%= formatted_time %>></div>
			<% else %>
				<div style="margin-top: 30px;">Incident ended on <%= @incident.end_time.strftime('%Y-%m-%d at %I:%M%p') %></div>
			<% end %>
		</div>

		<div class="col-sm-8" style="margin:20px 0 0 0; text-align:right">

			<% if @incident.end_time.blank? %>
				<%= link_to 'New Log Entry', new_incident_entry_path(@incident), :class=>'btn btn-primary btn-sm' %>
				<%= link_to 'View Benchmarks'.html_safe, edit_incident_task_path(@incident,@task.id), :class => 'btn btn-primary btn-sm', :style => "color: white;"  %>

				<%= link_to 'End Incident'.html_safe, endincident_path(@incident), :class => 'btn btn-danger btn-sm', :style => "color: white;", :id => "endincidentbutton"  %>
			<% end %>

			<%= link_to 'View Log File'.html_safe, incident_path(@incident), :class => 'btn btn-primary btn-sm', :style => "color: white;"  %>
		</div>
	</div>
</div>




<div class="panel panel-primary">
	<div class="panel-heading">
 		<h3 class="panel-title">Incident</h3>
	</div>
	<div class="panel-body">


	<% if !@maydays.blank? %>
		<div class="col-sm-5">
	<% else %>
		<div class="col-sm-6">
	<% end %>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="field form-group">
						<%= f.label :name, "Incident Name", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
							<%= f.text_field :name, class: 'form-control' %>
						</div>

					</div>
					<div class="field form-group">
					    <%= f.label :scene_type_id, "Structure", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
					  		<%= f.select :scene_type_id, options_from_collection_for_select(SceneType.all, :id, :name,:selected => f.object.scene_type_id), {}, {class: "form-control"} %>
						</div>
					</div>
					<div class="field form-group">
	    				<%= f.label :battalion_id, "Battalion", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
		  					<%= f.select :battalion_id, options_from_collection_for_select(Battalion.all, :id, :name,:selected => f.object.battalion_id), {}, {class: "form-control"} %>
						</div>
					</div>
					<div class="field form-group">
	    				<%= f.label :incident_strategy_id, "Strategy", class: 'col-sm-3 control-label' %>

						<div class="col-sm-9">
		  					<%= f.select :incident_strategy_id, options_from_collection_for_select(IncidentStrategy.all, :id, :name, :selected => f.object.incident_strategy_id), {}, {class: "form-control"} %>
						</div>
					</div>
					<div class="field form-group">

						<%= f.fields_for :incident_assignments do |builder| %>
							<%= render 'incident_assignment_fields',:f => builder, :locals => {:incident_assignment_id => 5 } %>  <!-- What is locals?? -->
				    	<% end %>

				    	<%= link_to_add_association 'Add Apparatus', f, :incident_assignments, :id =>"AddAppLink", :class => "btn btn-default form-control" %>
					</div>

						<div class="actions">
						<% if @incident.end_time.blank? %>
	    					<%= f.submit :class=>"btn btn-primary" %>
	    				<% else %>
	    					<%= f.submit :class=>"btn btn-primary disabled" %>
	    				<% end %>
						</div>

				</div>
			</div>
		</div>
			<% if !@maydays.blank? %>
		<div class="col-sm-5">
	<% else %>
		<div class="col-sm-6">
	<% end %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" style="color:black">Exposures</h3>
				</div>
				<div class="panel-body ScenesContainer">
					<div class="#">
					<%= f.fields_for :scenes do |builder| %>
						<%= render 'scene_fields', :f => builder %>
					<% end %>
			    	<%= link_to_add_association 'Add New Exposure', f, :scenes, :class=>"btn btn-default form-control" %>
					</div>
				</div>
			</div>
		</div>
			<% if !@maydays.blank? %>
				<div class="col-sm-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" style="color:black">Maydays</h3>
					</div>
					<div class="panel-body">
						<% @maydays.each do |m| %>
								<%= link_to "#{m.name}", edit_mayday_path(m.id), :class => "btn btn-default btn-sm" %><BR>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>




<script>
	$(document).ready(function(){
		var mySelected = $("#incident_battalion_id option:selected").val();
		$('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').hide(); //hide appropriate options based on selected battalion

		$("#incident_battalion_id").change(function(){
			var mySelected = $("#incident_battalion_id option:selected").val();
			$('.ApparatusSelect option[data-battalion]').show(); //shows all of the options
			$('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').hide(); //hide appropriate options based on selected battalion

			// console.log($('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').first());
			// $('.ApparatusSelect option[data-battalion='+mySelected+']').first().attr("selected", true);

			$('.ApparatusSelect').each(function(){
				$(this).children('option[data-battalion='+mySelected+']').first().attr("selected", true);
			});
		});

		 $('.panel-body').on('cocoon:after-insert', function(e, insertedItem) {
    			var mySelected = $("#incident_battalion_id option:selected").val();
    			$('.ApparatusSelect :not(option[data-battalion='+mySelected+'])').hide();

    			// $('.ApparatusSelect option[data-battalion='+mySelected+']').first().attr("selected", true);

    			$('.ApparatusSelect').children('option[data-battalion='+mySelected+']').first().attr("selected", true);

  			});


		  $('.ScenesContainer').on('cocoon:after-insert', function(e, insertedItem) {

    			if(insertedItem[2].className == 'apparatus_contain'){
    				var mySelectBox = $('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect');
    				var selectedValue = mySelectBox.children("option:selected").val(); // THIS IS THE BATTALION

    				$('.ScenesContainer').find(".nested-fields").last().find('.SceneApparatusSelect :not(option[data-battalion='+selectedValue+'])').hide();

    				$('.ScenesContainer').find(".nested-fields").last().find('.SceneApparatusSelect option[data-battalion='+selectedValue+']').first().prop("selected", true);

    				$('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect').change(function(){

    					var mySelectBox = $('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect');
    					var selectedValue = mySelectBox.children("option:selected").val(); // THIS IS THE BATTALION

    					$('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect').closest(".newScene").find('.SceneApparatusSelect').children('option[data-battalion]').show();


    					$('.ScenesContainer').find(".newScene").last().find('.ExposureBattalionSelect').closest(".newScene").find('.SceneApparatusSelect').children(':not(option[data-battalion='+selectedValue+'])').hide();

    					$('.ScenesContainer').find(".nested-fields").last().find('.SceneApparatusSelect option[data-battalion='+selectedValue+']').first().prop("selected", true);

    				});
    			}

  			});
	});
</script>
<% end %>



<%= link_to 'Show', @incident %> |
<%= link_to 'Back', incidents_path %>
