<div class="page-header">
  <h1>Listing Incident <small>Log Files</small></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Incident Log</th>
      <th>Date</th>
	  <th>Time</th>
      <th>Name</th>
      <th>Actions</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.order("created_at desc").each do |incident| %>
      <tr>
      	<td><%= link_to 'View Log File', incident_path(incident), :class=>"btn btn-default btn-xs" %></td>
      	<td><%= incident.created_at.strftime("%m/%d/%Y") %></td>
		<td><%= incident.created_at.strftime("%I:%M%p:%S")%></td>
        <td><%= incident.name %></td>
        <td><div class="btn-group">
        	<%= link_to 'View Incident', incident_path(incident), :class=>"btn btn-default btn-xs"%>
        	<%= link_to 'Edit Incident', edit_incident_path(incident), :class=>"btn btn-default btn-xs" %>
        	<%= link_to 'Delete Incident', incident, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-default btn-xs" %>
        	</div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Incident', new_incident_path %>
