<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @incident.name %> <small>Incident Log</small></h1>
</div>
 

<div class="panel panel-default">
  <div class="panel-heading">Log Entries</div>
	<table class="table">
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Entry</th>
		</tr>
		<% @incident.entries.order("created_at desc").each do |entry| %>
			<tr>
				<td><%= entry.created_at.strftime("%m/%d/%Y") %></td> 
				<td><%= entry.created_at.strftime("%I:%M%p:%S")%></td>
				<td><%= entry.name %></td>
			</tr>
		<% end %>
	</table>
  </div>

<p>
<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
