<% if notice %>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <span id="notice"><%= notice %></span>
	  </div>
	</div>
<% end %>
<div class="page-header">
	<div class="col-lg-5">
  		<h1><%= @incident.name %> <small>Incident Log</small></h1>
  	</div>
  	<div class="col-lg-7" style="margin:25px 0 0 0;text-align:right">
  		<div class="col-sm-6">
  			<div class="btn-group">
  				<a href="#" onclick="window.print();return false;" class="btn btn-primary">Print Log</a>
  				<%= link_to 'Edit Incident', edit_incident_path(@incident), :class => "btn btn-primary" %> 
  			</div>
  		 </div>
  		 <div class="col-sm-6">
  		 	<div class="input-group">
			  	<%= form_tag({:controller=>"incidents", :action=>"sendemail"}, method: :get) do %>
				  <%= text_field_tag :email_address, nil, :class => 'form-control' %>
				  <span class="input-group-btn">
				  	<%= submit_tag 'Email Log', :class => "btn btn-primary" %>
				  </span>
				<% end %>
			</div>
		  </div>
  	</div>
  	<div style="clear:both;"></div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Log Entries</div>
	<table class="table">
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Entry</th>
		</tr>
		<% @incident.entries.order("created_at desc").each do |entry| %>
			<tr>
				<td><%= entry.created_at.strftime("%m/%d/%Y") %></td>
				<td><%= entry.created_at.strftime("%I:%M%p:%S")%></td>
				<td><%= entry.name %></td>
			</tr>
		<% end %>
	</table>
  </div>

<p>
|
<%= link_to 'Back', incidents_path %>
