<h1>Listing scenes</h1>

<table>
  <thead>
    <tr>
      <th>Incident</th>
      <th>Name</th>
      <th>Scene Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.incident_id %></td>
        <td><%= scene.name %></td>
        <td><%= SceneType.find(scene.scene_type_id).name %></td>
        <td><%= link_to 'Show', scene %></td>
        <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
        <td><%= link_to 'Destroy', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene', new_scene_path %>
