<p id="notice"><%= notice %></p>

<p>
  <strong>Mayday:</strong>
  <%= @checkoff_mayday.mayday_id %>
</p>

<p>
  <strong>Checkoff:</strong>
  <%= @checkoff_mayday.checkoff_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @checkoff_mayday.status %>
</p>

<%= link_to 'Edit', edit_checkoff_mayday_path(@checkoff_mayday) %> |
<%= link_to 'Back', checkoff_maydays_path %>
