<h1>Listing timers</h1>

<table>
  <thead>
    <tr>
      <th>Primary search</th>
      <th>All clear</th>
      <th>Utilities contacted</th>
      <th>Safety officer arrived</th>
      <th>Utilities disconnected</th>
      <th>Secondary search</th>
      <th>Fire under control</th>
      <th>Incident</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timers.each do |timer| %>
      <tr>
        <td><%= timer.primary_search %></td>
        <td><%= timer.all_clear %></td>
        <td><%= timer.utilities_contacted %></td>
        <td><%= timer.safety_officer_arrived %></td>
        <td><%= timer.utilities_disconnected %></td>
        <td><%= timer.secondary_search %></td>
        <td><%= timer.fire_under_control %></td>
        <td><%= timer.incident_id %></td>
        <td><%= link_to 'Show', timer %></td>
        <td><%= link_to 'Edit', edit_timer_path(timer) %></td>
        <td><%= link_to 'Destroy', timer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timer', new_timer_path %>
