<p id="notice"><%= notice %></p>

<p>
  <strong>Primary search:</strong>
  <%= @timer.primary_search %>
</p>

<p>
  <strong>All clear:</strong>
  <%= @timer.all_clear %>
</p>

<p>
  <strong>Utilities contacted:</strong>
  <%= @timer.utilities_contacted %>
</p>

<p>
  <strong>Safety officer arrived:</strong>
  <%= @timer.safety_officer_arrived %>
</p>

<p>
  <strong>Utilities disconnected:</strong>
  <%= @timer.utilities_disconnected %>
</p>

<p>
  <strong>Secondary search:</strong>
  <%= @timer.secondary_search %>
</p>

<p>
  <strong>Fire under control:</strong>
  <%= @timer.fire_under_control %>
</p>

<p>
  <strong>Incident:</strong>
  <%= @timer.incident_id %>
</p>

<%= link_to 'Edit', edit_timer_path(@timer) %> |
<%= link_to 'Back', timers_path %>
