<h1>Listing asset_roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_roles.each do |asset_role| %>
      <tr>
        <td><%= asset_role.name %></td>
        <td><%= link_to 'Show', asset_role %></td>
        <td><%= link_to 'Edit', edit_asset_role_path(asset_role) %></td>
        <td><%= link_to 'Destroy', asset_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset role', new_asset_role_path %>
