<h1>Listing incident_strategies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_strategies.each do |incident_strategy| %>
      <tr>
        <td><%= incident_strategy.name %></td>
        <td><%= link_to 'Show', incident_strategy %></td>
        <td><%= link_to 'Edit', edit_incident_strategy_path(incident_strategy) %></td>
        <td><%= link_to 'Destroy', incident_strategy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident strategy', new_incident_strategy_path %>
