<p>
  <strong>Asset:</strong>
  <%= @asset.name %>
</p>
<p>
  <strong>Incident:</strong>
  <% @asset.incident_assignments.each do |incident_assignment| %>
  	<%= incident_assignment.incident.name %>
  <% end %>
</p>
<p>
  <strong>Role:</strong>
  <% @asset.incident_assignments.each do |incident_assignment| %>
  	<%= incident_assignment.asset_role.name %>
  <% end %>
</p>
<p>
  <strong>Location:</strong>
  <% @asset.incident_assignments.each do |incident_assignment| %>
  	<%= incident_assignment.location.name %>
  <% end %>
</p>

<%= link_to 'Back', assets_path %>
