<h1>Listing battalions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battalions.each do |battalion| %>
      <tr>
        <td><%= battalion.name %></td>
        <td><%= link_to 'Show', battalion %></td>
        <td><%= link_to 'Edit', edit_battalion_path(battalion) %></td>
        <td><%= link_to 'Destroy', battalion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battalion', new_battalion_path %>
