<h1>Listing maydays</h1>

<table>
  <thead>
    <tr>
      <th>Incident assignment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maydays.each do |mayday| %>
      <tr>
        <td><%= mayday.incident_assignment_id %></td>
        <td><%= link_to 'Show', mayday %></td>
        <td><%= link_to 'Edit', edit_mayday_path(mayday) %></td>
        <td><%= link_to 'Destroy', mayday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mayday', new_mayday_path %>
