<!DOCTYPE html>
<html>
<head>
  <title>Ifd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tags %>
</head>
  <b<ody>
	<div style="margin:15px 0 0 0">
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          	<%= render 'shared/navigation' %>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
	</div>
  </body>
</html>


</body>
</html>



